publish/Application Files/ClipboardHelperRegEx_0_0_0_15/AutoXmlSchema.xsd.deploy

<?xml version="1.0" encoding="utf-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xsd:element name="AutoShownTabs" type="AutoShownTabs"/>

  <xsd:complexType name="AutoShownTabs">
    <xsd:sequence minOccurs="1" maxOccurs="1">
      <xsd:element name="List"  type="ListType" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ListType">
    <xsd:sequence minOccurs="1" maxOccurs="1000" >
      <xsd:element name="AutoShownTab" type="AutoShownTabType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AutoShownTabType">
    <xsd:sequence>
      <xsd:element name="Name"  type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="RegEx"  type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Items" type="ItemsType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SimulatedClipboard" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ItemsType">
    <xsd:sequence minOccurs="1" maxOccurs="10000">
      <xsd:element name="string"  type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>